﻿@model sistemas2.Web.Models.SoftwaresViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SoftwareEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionDetallada" class="control-label"></label>
                <input asp-for="DescriptionDetallada" class="form-control" />
                <span asp-validation-for="DescriptionDetallada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetTypeId" class="control-label"></label>
                <select asp-for="AspNetTypeId" asp-items="Model.AspNetTypes" class="form-control"></select>
                <span asp-validation-for="AspNetTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
