﻿@model sistemas2.Web.Data.Entities.HistorialEquiUsEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HistorialEquiUsEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Final)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha_Final)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
