﻿@model sistemas2.Web.Models.EquipoHardwaresViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Hardware para Equipo: @Model.Description</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddHardwares" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EquipoId" />


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="AspNetHardwareId" class="control-label"></label>
                <select asp-for="AspNetHardwareId" asp-items="Model.AspNetHardwares" class="form-control"></select>
                <span asp-validation-for="AspNetHardwareId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.EquipoId" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}