﻿@model sistemas2.Web.Data.Entities.EquipoHarwareEntity

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Está seguro que quiere eliminar este hardware?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.EquipoEntity.Description)</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.HardwareEntity.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HardwareEntity.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HardwareEntity.Serial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HardwareEntity.Serial)
        </dd>
    </dl>

    <form asp-action="DelHardwaresConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>