﻿@model sistemas2.Web.Data.Entities.EquipoEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

    <div>
        <h4>EquipoEntity</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DescriptionDetallada)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DescriptionDetallada)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Serial)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Serial)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Fecha_Compra)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Fecha_Compra)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index">Back to List</a>
    </div>

        

        <br />
        <a asp-action="AddSoftwares" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-plus"></i></a>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Software</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-responsive table-striped" id="MyTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Codigo)
                                    </th>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                        Descripcion Detallada
                                    </th>
                                    <th>
                                        Serial
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.EqSoftwares.OrderBy(g => g.SoftwareEntity.Id))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoftwareEntity.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoftwareEntity.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoftwareEntity.DescriptionDetallada)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SoftwareEntity.Serial)
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon glyphicon-align-justify"></i></a>
                                            <a asp-action="DelSoftwares" asp-route-id="@item.Id" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <a asp-action="AddHardwares" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-plus"></i></a>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hardware</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-responsive table-striped" id="MyTable2">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Codigo)
                                    </th>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                        Serial
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.EqHardwares.OrderBy(g => g.HardwareEntity.Id))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HardwareEntity.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HardwareEntity.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HardwareEntity.Serial)
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon glyphicon-align-justify"></i></a>
                                            <a asp-action="DelHardwares" asp-route-id="@item.Id" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>






