﻿@model sistemas2.Web.Models.EquiposViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EquipoEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="InvoicePath" />
            <input type="hidden" asp-for="EquipoPath" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionDetallada" class="control-label"></label>
                <input asp-for="DescriptionDetallada" class="form-control" />
                <span asp-validation-for="DescriptionDetallada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Compra" class="control-label"></label>
                <input asp-for="Fecha_Compra" class="form-control" />
                <span asp-validation-for="Fecha_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceFile" class="control-label"></label>
                <input asp-for="InvoiceFile" type="file" class="form-control" />
                <span asp-validation-for="InvoiceFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipoFile" class="control-label"></label>
                <input asp-for="EquipoFile" type="file" class="form-control" />
                <span asp-validation-for="EquipoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetTypeId" class="control-label"></label>
                <select asp-for="AspNetTypeId" asp-items="Model.AspNetTypes" class="form-control"></select>
                <span asp-validation-for="AspNetTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.InvoicePath))
        {
            <img src="@Url.Content(Model.InvoicePath)" alt="Image" style="width:200px;height:100px;max-width: 100%; height: auto;" />
        }
        @if (!string.IsNullOrEmpty(Model.EquipoPath))
        {
            <img src="@Url.Content(Model.EquipoPath)" alt="Image" style="width:200px;height:100px;max-width: 100%; height: auto;" />
        }
    </div>
</div>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
