﻿@model sistemas2.Web.Models.TrasladoDetallesViewModel

@{
    ViewData["Title"] = "Traslado Detalle";
}

<h2>Edit</h2>

<h4>Detalle para Traslado: @Model.TrasladoId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTrasladoDet" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrasladoId" />


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Consecutivo" class="control-label"></label>
                <input asp-for="Consecutivo" class="form-control" />
                <span asp-validation-for="Consecutivo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AspNetEquipoId" class="control-label"></label>
                <select asp-for="AspNetEquipoId" asp-items="Model.AspNetEquipos" class="form-control"></select>
                <span asp-validation-for="AspNetEquipoId" class="text-danger"></span>
            </div>
                        
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.TrasladoId" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}