﻿@model sistemas2.Web.Models.TrasladosViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TrasladoEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Traslado" class="control-label"></label>
                <input asp-for="Traslado" class="form-control" />
                <span asp-validation-for="Traslado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTraslado" class="control-label"></label>
                <input asp-for="FechaTraslado" class="form-control" />
                <span asp-validation-for="FechaTraslado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetSedesOrigenId" class="control-label"></label>
                <select asp-for="AspNetSedesOrigenId" asp-items="Model.AspNetSedes" class="form-control"></select>
                <span asp-validation-for="AspNetSedesOrigenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetSedesDestinoId" class="control-label"></label>
                <select asp-for="AspNetSedesDestinoId" asp-items="Model.AspNetSedes" class="form-control"></select>
                <span asp-validation-for="AspNetSedesDestinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetUsuariosOrigenId" class="control-label"></label>
                <select asp-for="AspNetUsuariosOrigenId" asp-items="Model.AspNetUsuarios" class="form-control"></select>
                <span asp-validation-for="AspNetUsuariosOrigenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetUsuariosDestinoId" class="control-label"></label>
                <select asp-for="AspNetUsuariosDestinoId" asp-items="Model.AspNetUsuarios2" class="form-control"></select>
                <span asp-validation-for="AspNetUsuariosDestinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

