﻿@model sistemas2.Web.Data.Entities.TrasladoEntity

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrasladoEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Traslado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Traslado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaTraslado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaTraslado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Last_Updated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Last_Updated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Last_User_By)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Last_User_By)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SedeOrigen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SedeOrigen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SedeDestino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SedeDestino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioOrigen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioOrigen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioDestino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioDestino)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
