﻿@model sistemas2.Web.Data.Entities.TrasladoEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrasladoEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Traslado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Traslado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaTraslado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaTraslado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Last_Updated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Last_Updated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Last_User_By)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Last_User_By)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SedeOrigen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SedeOrigen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SedeDestino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SedeDestino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioOrigen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioOrigen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioDestino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioDestino)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<br />
<a asp-action="AddTrasladoDet" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-plus"></i></a>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dispostivos a Trasladar</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                Consecutivo
                            </th>
                            <th>
                                Nombre Equipo
                            </th>
                            <th>
                                Serial
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.TrasladosDetalles == null)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                        else
                        {

                            @foreach (var item in Model.TrasladosDetalles.OrderBy(g => g.Consecutivo))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Consecutivo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EquipoEntity.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EquipoEntity.Serial)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon glyphicon-align-justify"></i></a>
                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/TrasladoEntities/DeleteTrasladosDet/' + item_to_delete;
            });
        });
    </script>
}