﻿@model IEnumerable<sistemas2.Web.Data.Entities.TrasladoEntity>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Traslado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTraslado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_User_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SedeOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SedeDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioDestino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Traslado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaTraslado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_User_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SedeOrigen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SedeDestino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioOrigen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioDestino)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <button data-id="@item.Id" class="receiveItem" data-toggle="modal" data-target="#receiveDialog">Recibir Traslado</button>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="_ReceiveDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_receive;
            $('.receiveItem').click((e) => {
                item_to_receive = e.currentTarget.dataset.id;
            });
            $("#btnYesReceive").click(function () {
                window.location.href = '/TrasladoEntities/ReceiveTraslado/' + item_to_receive;
            });
        });
    </script>
}