﻿@model sistemas2.Web.Models.MantenCorrectivosViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MantenCorrectivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MantenCorrectivoId" class="control-label"></label>
                <input asp-for="MantenCorrectivoId" class="form-control" />
                <span asp-validation-for="MantenCorrectivoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaMantenCorrectivo" class="control-label"></label>
                <input asp-for="FechaMantenCorrectivo" class="form-control" />
                <span asp-validation-for="FechaMantenCorrectivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetEquipoId" class="control-label"></label>
                <select asp-for="AspNetEquipoId" asp-items="Model.AspNetEquipos" class="form-control"></select>
                <span asp-validation-for="AspNetEquipoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetUsuariosId" class="control-label"></label>
                <select asp-for="AspNetUsuariosId" asp-items="Model.AspNetUsuarios" class="form-control"></select>
                <span asp-validation-for="AspNetUsuariosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solucion" class="control-label"></label>
                <input asp-for="Solucion" class="form-control" />
                <span asp-validation-for="Solucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

