﻿@model sistemas2.Web.Data.Entities.MantenCorrectivo

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MantenCorrectivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MantenCorrectivoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MantenCorrectivoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaMantenCorrectivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaMantenCorrectivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Solucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Solucion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
