﻿@model sistemas2.Web.Data.Entities.MantenCorrectivo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MantenCorrectivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MantenCorrectivoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MantenCorrectivoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaMantenCorrectivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaMantenCorrectivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Solucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Solucion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
