﻿@model IEnumerable<sistemas2.Web.Data.Entities.MantenCorrectivo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MantenCorrectivoId)
            </th>
            <th>
                Equipo
            </th>
            <th>
                Nombre Usuario
            </th>
            <th>
                Apellidos
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMantenCorrectivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MantenCorrectivoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipoEntity.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioEntity.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioEntity.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMantenCorrectivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solucion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
