﻿@model sistemas2.Web.Data.Entities.MantenPreventivo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MantenPreventivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MantenPreventivoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MantenPreventivoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Frecuencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Frecuencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
