﻿@model sistemas2.Web.Models.MantenPreventivosViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MantenPreventivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MantenPreventivoId" class="control-label"></label>
                <input asp-for="MantenPreventivoId" class="form-control" />
                <span asp-validation-for="MantenPreventivoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetEquipoId" class="control-label"></label>
                <select asp-for="AspNetEquipoId" asp-items="Model.AspNetEquipos" class="form-control"></select>
                <span asp-validation-for="AspNetEquipoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetUsuariosId" class="control-label"></label>
                <select asp-for="AspNetUsuariosId" asp-items="Model.AspNetUsuarios" class="form-control"></select>
                <span asp-validation-for="AspNetUsuariosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetFrecuenciaId" class="control-label"></label>
                <select asp-for="AspNetFrecuenciaId" asp-items="Model.AspNetFrecuencias" class="form-control"></select>
                <span asp-validation-for="AspNetFrecuenciaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

