﻿@model IEnumerable<sistemas2.Web.Data.Entities.MantenPreventivo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

    <p class="center-block">
        <a asp-controller="MantenPreventivos" asp-action="Index" class="btn btn-warning">Mantenimiento Preventivo</a>
        <a asp-controller="MantenCorrectivos" asp-action="Index" class="btn btn-default">Mantenimiento Correctivo</a>
    </p>
