﻿@model sistemas.Web.Models.EquiposViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EquipoEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionDetallada" class="control-label"></label>
                <input asp-for="DescriptionDetallada" class="form-control" />
                <span asp-validation-for="DescriptionDetallada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Compra" class="control-label"></label>
                <input asp-for="Fecha_Compra" class="form-control" />
                <span asp-validation-for="Fecha_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetTypeId" class="control-label"></label>
                <select asp-for="AspNetTypeId" asp-items="Model.AspNetTypes" class="form-control"></select>
                <span asp-validation-for="AspNetTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetUsuarioId" class="control-label"></label>
                <select asp-for="AspNetUsuarioId" asp-items="Model.AspNetUsuarios" class="form-control"></select>
                <span asp-validation-for="AspNetUsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetSedeId" class="control-label"></label>
                <select asp-for="AspNetSedeId" asp-items="Model.AspNetSedes" class="form-control"></select>
                <span asp-validation-for="AspNetSedeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
